In [2]:
import pandas as pd
import numpy as np

In [37]:
!pip install seaborn

5298.08s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [38]:
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
!pip install nltk

5306.69s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk) (2025.9.1)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nltk) (4.67.1)

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [40]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>
[nltk_data] Error loading wordnet: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>

False

# Descriptive steps

In [ ]:
## describe()
## info()
## head()
## shape()
## unique()
## ydata-profiling >> it extends pandas library with additional EDA capabilities 
### >> opens up to a mini website with data overview info presented, can look into specific variables
from ydata_profiling import ProfileReport
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=False)

SyntaxError: invalid syntax (3289591985.py, line 9)

# Series, DataFrame

In [3]:
# Series
s = pd.Series([20, "Hello", 34.5, True])
print(s)

0       20
1    Hello
2     34.5
3     True
dtype: object

In [ ]:
## Series can have custom indexes, not just default 0,1,2,...N-1
s1 = pd.Series([20, "Hello", 34.5, True], index=['A', 'B', 'C', 'D'])
print(s1)

A       20
B    Hello
C     34.5
D     True
dtype: object

In [5]:
## Series can be created from a dictionary
d = {'a': 1, 'b': 2, 'c': "Hello"}
s2 = pd.Series(d)
print(s2)

a        1
b        2
c    Hello
dtype: object

In [ ]:
## get value by index, get index by value
print(s2['b'])

print(s2[s2 == "Hello"].index[0])  # get index by value

2
c

In [9]:
# DataFrame
## DataFrame created from a dictionary of Series
dict_of_series = {'first': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
                  'second': pd.Series([3, 7, 4], index=['a', 'b', 'c'])}
df = pd.DataFrame(dict_of_series)
print(df)

   first  second
a      1       3
b      2       7
c      3       4

In [10]:
## DataFrame created from a dictionary of lists
dict_of_lists = {'first': [1, 2, 3],
                 'second': [3, 7, 4]}
df2 = pd.DataFrame(dict_of_lists)
print(df2)

   first  second
0      1       3
1      2       7
2      3       4

df2 created from a dictionary of lists gives out outputs with default indexes (int) that cannot be customized.

In [11]:
## DataFrame created from a list of dictionaries
list_of_dicts = [{'first': 1, 'second': 3},
                 {'first': 2, 'second': 7},
                 {'first': 3, 'second': 4}]
df3 = pd.DataFrame(list_of_dicts)
print(df3)

   first  second
0      1       3
1      2       7
2      3       4

df3 from a list of dictionaries means the table developed as if creating a matrix --> lists present in vertical form

## Comparing list, dict, and pandas series

## Method Chaining

In [ ]:
# create a new column within a method chain
### assign() >> allows assigning new columns to a dataframe within a method chain

# Select rows

## 1. select rows by their positions:

## 2. select rows according to a criterion:

## 3. select rows with query():
query() becomes very helpful when using method chaining and there are many logical statements.

# Select specific rows and columns

loc[]

iloc[]

# Applying a function over rows/columns
apply() >> apply a function along any axis of a dataframe (or along a Series)

In [69]:
# apply() example
df = pd.DataFrame(np.random.randint(1, 7, size=(3, 2)), columns=['Amy', 'Ben'])
df

   Amy  Ben
0    1    6
1    4    2
2    5    5

How to compute the difference between the minimum and maximum number for each person?

In [77]:
min_df = df.min()
max_df = df.max()
max_minus_min = max_df - min_df
print(max_minus_min)

# a function for df as a whole (an inline function: don't need to define a new name by using lambda x)
print(df.apply(lambda x: x.max() - x.min()))  ## apply a lambda function

## lambda arguments: expression
### e.g.
double = lambda x: x * 2
print(double(5))

## other common functions: sum, mean, etc.
df.apply(lambda x: x.sum())
df.apply(lambda x: x.mean())

Amy    4
Ben    4
dtype: int64
Amy    4
Ben    4
dtype: int64
10

Amy    3.333333
Ben    4.333333
dtype: float64

## map() >> element-wise function application
map() applies a function to each element of the dataframe.

In [75]:
# map() example
df
print(df.map(lambda x: x ** 2))  ## map a lambda function

   Amy  Ben
0    1   36
1   16    4
2   25   25

## Rename() columns

## Drop() rows/columns

# drop duplicates

In [ ]:
# e.g.astronauts data
remove_duplicate_astronauts = astronauts.drop_duplicates(subset=['name', 'gender', 'birth', 'nationality'], keep='first') # keep info on their first mission
remove_duplicate_astronauts.head()
## keep='first' >> keep the first occurrence
## keep='last' >> keep the last occurrence
## keep=False >> drop all duplicates
## drop_duplicates() >> drop duplicate rows
### why still need keep='first' when we already drop duplicates? because there are still duplicate rows after dropping duplicates based on subset of columns

# Summarise data

## groupby

## 1. aggregate() or agg()
computes a summary statistic for each group

### other aggregation statistics
median(), quantile()
mode()
count()
min(), max()
var(), std()
sum(),
cumsum(), cummax(), cummin() track summary statistics over rows
value_counts() a convenient shortcut to count the number of records in each group

In [ ]:
#

## 2. transform()
performs some group-specific computations and returns an object of the same length, so the new dataframe contains the same length as the original one while with some transformations
e.g. fill NAs with group mean, standarize score within a group 
Q: what would be the lambda function we need for the z-score?

# Indexes

## reset the index
reset_index()

## set an index
set_index() ##the reverse of reset

# Sorting the data
df.sort_values(by=column(s), ascending=False)

e.g. Q: who were the 3 oldest astronauts?

nlargest()
nsmallest()

astronauts.nlargest(3, 'age_at_mission', keep='all') ##keep='all' might lead to output with more than3 rows if top 3 largest have more than 3 rows (e.g. in column 'age_at_mission', 71 is the 3rd largest, but has 2 rows that contain 71 --> final output = 4 rows)

## add a rank column

# Work with missing data
## how to find rows with missing?
isna()

e.g. astronauts data
row_with_na = astronauts[astronauts.isna().any(axis=1)] ##any() here
row_with_na

## fill missing values
fillna()
e.g. fillna(unknown) ##so na cells now filled with word 'unknown'

## drop rows/columns with missing values
dropna()
--> df.dropna()

Then check using df.shape()

## missingno: a useful extension to visualize missingness

In [ ]:
# missingno example
%matplotlib inline
import missingno as msno

astronauts_missing = astronauts.copy()
for col in astronauts_missing.columns:
    astronauts_missing.loc[astronauts_missing.sample(frac=0.1).index, col] = np.nan

# Visualize missing values as a matrix 
msno.matrix(astronauts_missing)

## Visualize the correlation between the number of missing values in different columns as a heatmap
msno.heatmap(astronauts_missing)

# Reshaping
Oftentimes, you will need to change the format of a dataset.

melt(): wide to long
pivot(): long to wide

## melt()

## pivot()

# apply() vs transform()

# Merge dataframe
## concat() 
### row-wise concat()

### column-wise concat()


## merge() --> join
Left, right, inner, outer joins

In [41]:
x = 3
if x > 3:
    print("large")
elif x == 3:
    print("just right")
else:
    print("small")

just right

In [42]:
# lists
# set

my_set = set()
print(my_set)

set()

In [43]:
my_set.add("monday")
my_set.add("tuesday")
my_set.add("Monday")
my_set.add("monday")  # Duplicate, will not be added again, only gonna show up once
print(my_set)

{'tuesday', 'Monday', 'monday'}

In [44]:
"monday" == "Monday"  # Case sensitive >> Tell you if True/False

False

In [45]:
## now wants to create more complex sets, comparison between two sets
set_a = set()
set_a.add("20-24")
set_a.add("nyc")
set_a.add("fish")
set_a.add("vegetarian")

set_b = set()
set_b.add("55+")
set_b.add("nyc")
set_b.add("fish")
set_b.add("carnivore")

print(set_a)
print(set_b)

{'vegetarian', 'fish', 'nyc', '20-24'}
{'55+', 'fish', 'nyc', 'carnivore'}

In [46]:
## Try searching for python logic set operation >> form Venn diagram, etc.
## what do these sets share between each --> intersection
the_int = set_a.intersection(set_b)  #order does not matter
print(the_int)

{'fish', 'nyc'}

In [47]:
## what are ALL the attributes between the two sets --> union
the_union = set_a.union(set_b)
print(the_union)

{'fish', 'carnivore', '20-24', '55+', 'nyc', 'vegetarian'}

In [48]:
## what is unique to each set --> difference
the_diff_a = set_a.difference(set_b)
the_diff_b = set_b.difference(set_a)
print(the_diff_a)
print(the_diff_b)

{'20-24', 'vegetarian'}
{'55+', 'carnivore'}

In [49]:
# Function
## Definition - reusable block of code
## e.g.1
def hello_world():
    print("Hello World!")

In [50]:
hello_world()

Hello World!

In [51]:
## e.g.2
def str_cat(a_in, b_in):
    tmp = a_in + b_in
    return tmp

In [52]:
print (str_cat(1, 5))  # 1 is a_in, 5 is b_in, output = 1 + 5 = 6
print (str_cat("qm", "ss"))  # "qm" is a_in, "ss" is b_in, output = "qm" + "ss" = "qmss"

6
qmss

In [53]:
str_a = "its monday night and its nice outside"

# tokenization
t_ex = str_a.split(" ") #defaults split on a space >> split(" ")
print(t_ex)

# "," split the string at every comma >> split(",")
str_b = "its monday night,and its nice outside"
t_ex2 = str_b.split(",")
print(t_ex2)

['its', 'monday', 'night', 'and', 'its', 'nice', 'outside']
['its monday night', 'and its nice outside']

In [54]:
len(t_ex)  # length of the list

7

In [55]:
# jaccardian measure --> similarity between two sets = len(intersection) / len(union)
str_c = "the politician gave a great speech"
str_d = "the politician spoke to the crowd"

j = len(set(str_c.split(" ")).intersection(set(str_d.split(" ")))) / len(set(str_c.split(" ")).union(set(str_d.split(" "))))
print(j)

0.2222222222222222

In [56]:
## jaccardian measure exercise
## jm = len(intersection) / len(union) range(0,1)
## create a function called jm which takes in two strings and outputs the len(intersection) / len(union)

str1 = "the cat sat on the mat"
str2 = "the dog sat on the log"

## intersection
the_int_jm = set(str1.split(" ")).intersection(set(str2.split(" ")))
print(the_int_jm)

## union
the_union_jm = set(str1.split(" ")).union(set(str2.split(" ")))
print(the_union_jm)

## jaccardian measure
jm = len(the_int_jm) / len(the_union_jm)
print(jm)

{'sat', 'on', 'the'}
{'mat', 'log', 'sat', 'cat', 'on', 'dog', 'the'}
0.42857142857142855

In [57]:
## form a function that can be resused for jm
def j(str_a, str_b):
    the_int = set(str_a.split(" ")).intersection(set(str_b.split(" ")))
    the_union = set(str_a.split(" ")).union(set(str_b.split(" ")))
    j = len(the_int) / len(the_union)
    return j

print(j(str1, str2))

0.42857142857142855

In [58]:
j("a b c", "a b c")

1.0

In [59]:
j("a b c", "a b d")

0.5

In [60]:
# Dictionary (better than lists, can connect rows without using an index)
## Create a dictionary (keys & values)
cars = {"Germany": 30,
        "Britain": 40,
        "India": 64,
        "Japan": 23}

print(cars)

## Find the value that belongs to key "Britain"
print(cars["Britain"])

## Print all keys of the dataset >> keys()
print(cars.keys())

## Add data to existing dictionary
cars["China"] = 55
print(cars)

## Check if "China" has been added (results in True/False)
"China" in cars

## Change values (e.g. change value of "China" to 70)
cars["China"] = 70
print(cars)

## Remove data
del(cars["China"])
print(cars)

{'Germany': 30, 'Britain': 40, 'India': 64, 'Japan': 23}
40
dict_keys(['Germany', 'Britain', 'India', 'Japan'])
{'Germany': 30, 'Britain': 40, 'India': 64, 'Japan': 23, 'China': 55}
{'Germany': 30, 'Britain': 40, 'India': 64, 'Japan': 23, 'China': 70}
{'Germany': 30, 'Britain': 40, 'India': 64, 'Japan': 23}

In [61]:
the_dictionary = dict()  # contain key: value 
the_dictionary["key_a"] = 1
the_dictionary["key_b"] = [1, 2, 4]
the_dictionary["key_c"] = {"all": "whatever"}
the_dictionary["key_d"] = {"a": 1, "b": 4}
the_dictionary["key_e"] = "qmss class"

In [62]:
the_dictionary

{'key_a': 1,
 'key_b': [1, 2, 4],
 'key_c': {'all': 'whatever'},
 'key_d': {'a': 1, 'b': 4},
 'key_e': 'qmss class'}

In [63]:
## show keys
the_keys = list(the_dictionary.keys())
print(the_keys)

## show values
the_values = list(the_dictionary.values())
print(the_values)

['key_a', 'key_b', 'key_c', 'key_d', 'key_e']
[1, [1, 2, 4], {'all': 'whatever'}, {'a': 1, 'b': 4}, 'qmss class']

In [64]:
# if statements
if 1 == 2:
    print("yeah")
else:
    print("nope")

nope

In [ ]:
if 1 == 2:
    print("yeah")
elif 3 == 3:
    print("monday") ## can have multiple elif, if any of the elif is true, exit the if statement
else:
    print("nope")

In [65]:
# while loops

In [66]:
# for loops
t_list = list()
for

SyntaxError: invalid syntax (271451839.py, line 3)

In [ ]:
# list comprehension

In [ ]:
## dictionary exercise
t_corpus = "the wild brown trout refused my mayfly but the stocked brouwn trout ate my mayfly"
## how many an unique word show up in the corpus
## create a function called word_fun that outputs a dictionary where every key is a unique token
## and the value is the number of times that token shows up in the corpus

t_tokens = t_corpus.split(" ")
print(t_tokens)

word_fun = dict()
for word in t_tokens:

In [ ]:
# dictionary comprehension

monday

In [17]:
# NumPy Array

In [ ]:
# Pandas Package
import pandas as pd

# this is how we do pd dataframe if there is a created dictionary (not in the form of a table that is ready to use)
food = {"chocolate": (3, 10), "Fried_chicken": (5, 15), "lettuce": (1, 4), "noodle": (3, 2)}
food_df = pd.DataFrame([(k, v[0], v[1]) for k, v in food.items()],
columns=["Food", "Count", "Price"])

## Change row labels for food_df
row_labels = ["cho", "fri", "let", "noo"]
food_df.index = row_labels

## Column Access
print(food_df[["Food"]])    # double brackets to keep the dataframe format (get the Food column name)
print(food_df["Food"])
print(food_df[["Food", "Price"]])

## Row Access by loc/iloc
print(food_df.loc[["cho", "fri"]])
print(food_df.iloc[[0, 1]])

## Row Access by slicing
print(food_df[1:3])

              Food
cho      chocolate
fri  Fried_chicken
let        lettuce
noo         noodle
cho        chocolate
fri    Fried_chicken
let          lettuce
noo           noodle
Name: Food, dtype: object
              Food  Price
cho      chocolate     10
fri  Fried_chicken     15
let        lettuce      4
noo         noodle      2
              Food  Count  Price
cho      chocolate      3     10
fri  Fried_chicken      5     15
              Food  Count  Price
cho      chocolate      3     10
fri  Fried_chicken      5     15
              Food  Count  Price
fri  Fried_chicken      5     15
let        lettuce      1      4

In [ ]:
# comparison operators, boolean operators, logical operators
# comparison operators: >, <, >=, <=, ==, !=
# boolean operators: and, or, not
# logical operators: &, |, ~

# example

## These boolean operators cannot be used in NumPy dataframe (on an array with more than 1 element)
## Use logical_and()
print((food_df["Count"] > 2) & (food_df["Price"] < 10))
print((logical_or(food_df["Count"] > 2) | (food_df["Price"] < 10)))
print(logical_not(food_df["Count"] > 2))

In [ ]:
# if, elif, else statements
# if condition:
#     expression

In [ ]:
# For loops
# for item in list:
#     expression

# Pandas Package

In [ ]:
# random walk

## e.g.
# NumPy is imported, seed is set

# Initialize random_walk
random_walk = [0]

# Complete the ___
for x in range(100) :
    # Set step: last element in random_walk
    step = random_walk[-1]

    # Roll the dice
    dice = np.random.randint(1,7)

    # Determine next step
    if dice <= 2:
        step = step - 1
    elif dice <= 5:
        step = step + 1
    else:
        step = step + np.random.randint(1,7)

    # append next_step to random_walk
    random_walk.append(step)

# Print random_walk
print(random_walk)